<div class="row its-language-switcer mb-2">
  <div class="col-md-12">
    <div class="mb-4 text-center">
      <h3>Freeform Ingredient Translation</h3>
      <p>
        Please separate ingredients using <span class="badge badge-info">,</span> or <span class="badge badge-info">;</span> or new lines for accurate results.
        <br>
        Kindly note this is a specialist tool for translating ingredient names and will not process natural language.
      </p>
    </div>
  </div>
</div>