<%
  if @user_subscription.new_record?
    form_method = :post
    form_url = {action: :create}
  else
    # form_method = :post
    form_method = :put
    id=@user_subscription.id
    form_url = {action: :update}
  end
%>



<%#= form_with(
      # url: subscribe_user_user_subscriptions_path,  
      url: form_url,  
      class: "form-floating", 
      id: "sub_plan_form",
      model: @user_subscription,
      method: form_method, 
      html: { autocomplete: "off" }) do |f| %>



    <div class="col-lg-12">
      <%
        @trial_period_end_date = (current_client_user.created_at.to_date + 7.days)
        @trial_period = (Date.today.to_date - current_client_user.created_at.to_date).to_i
      %>
      <% if @trial_period <= 7 %>
        <div class="alert alert-primary" role="alert">

          You are on the trial plan. You will be able to access full features on the platform for first 7 days. Your trial will expire on <%= @trial_period_end_date.strftime('%d-%m-%Y') %>

        </div>
      <% end %>
    </div>

    <%= hidden_field_tag "called_from", params[:called_from] %>

  <div class="body">
    <div class="comparison">
      <div id="zf-widget-root-id"></div> 
      <script type="text/javascript" src='https://js.zohostatic.com/books/zfwidgets/assets/js/zf-widget.js'></script> 
      <script> var pricingTableComponentOptions = { id: 'zf-widget-root-id', product_id: '2-47b62fb11519f6eee6e2ed38ec222f69a41b323395217c34413d4cfda298ba8211eb8c81890ada2958bcad6fd428a6fd9df707c96513975d002bb0ade0f4fde0', template: 'elegant', most_popular_plan: '', is_group_by_frequency: false, isFrequencyDropdown: false, isCurrencyDropdown: false, can_show_plan_freq: true, pricebooks: [ { pricebook_id: '1095960000000000261', currency_code: 'INR', currency_symbol: 'Rs.', plans: [ { plan_code: 'free_plan', url: 'https://subscriptions.zoho.in/subscribe/9df707c96513975d7d3c15533d6c2ece63b5a2bb74f748d4dbde1ccf1c7a189d/free_plan', recurring_price: '0', recurring_price_formatted: 'Rs.0.00', hp_settings_id: '1095960000000000291' }, { plan_code: 'mp', url: 'https://subscriptions.zoho.in/subscribe/9df707c96513975d7d3c15533d6c2ece63b5a2bb74f748d4dbde1ccf1c7a189d/mp', recurring_price: '49.99', recurring_price_formatted: 'Rs.49.99', hp_settings_id: '1095960000000000291' }, { plan_code: '3m', url: 'https://subscriptions.zoho.in/subscribe/9df707c96513975d7d3c15533d6c2ece63b5a2bb74f748d4dbde1ccf1c7a189d/3m', recurring_price: '149.99', recurring_price_formatted: 'Rs.149.99', hp_settings_id: '1095960000000000291' }, { plan_code: '6mp', url: 'https://subscriptions.zoho.in/subscribe/9df707c96513975d7d3c15533d6c2ece63b5a2bb74f748d4dbde1ccf1c7a189d/6mp', recurring_price: '269', recurring_price_formatted: 'Rs.269.00', hp_settings_id: '1095960000000000291' }, { plan_code: '12-mp', url: 'https://subscriptions.zoho.in/subscribe/9df707c96513975d7d3c15533d6c2ece63b5a2bb74f748d4dbde1ccf1c7a189d/12-mp', recurring_price: '509', recurring_price_formatted: 'Rs.509.00', hp_settings_id: '1095960000000000291' }, ] }, ], group_options: [ ], plans: [ { plan_code: 'free_plan', selectedAddons: [ ] }, { plan_code: 'mp', selectedAddons: [ ] }, { plan_code: '3m', selectedAddons: [ ] }, { plan_code: '6mp', selectedAddons: [ ] }, { plan_code: '12-mp', selectedAddons: [ ] }, ], theme: { color: '#006747', theme_color_light: ''}, button_text: 'Subscribe', product_url: 'https://subscriptions.zoho.in', price_caption: '', language_code: 'en', open_inSameTab: false }; ZFWidget.init('zf-pricing-table', pricingTableComponentOptions); 
      </script>
    </div>
  </div>







<%# end %>


<script type="text/javascript">
  
    function downgradePlan() {
      let text = "Do you realy want to downgrade the plan?";
      if (confirm(text) == true) {
        var user_id = <%= @current_client_user.id %>
         $.ajax({
         url: "/user/user_subscriptions/downgrade_subscription.js",
         type: "POST",
           headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
         data: {"subscription": {"user_id" : user_id}},
         // dataType: "json",
         success: function(data) {
           }
         });
      } 

    }
</script>
