<div class="block-header">
  <div class="row clearfix">
    <div class="col-md-12 col-sm-12">
      <!-- <h1><%#= @document.title %></h1> -->
      <h1>Table Mode - Translation</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", user_home_path %></li>
        <li class="breadcrumb-item"><%= link_to "Table Mode - Translation", "#" %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @document.title %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>