<div class="container-fluid">

  <!-- Header -->
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h1>Home</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Welcome to ITSLabel.me</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- Show Success / Error / Info Messages If any set by the controller action -->
  <%#= flash_message(false) if defined?(flash) -%>


  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">

        <div class="tab-content mt-5">
          
        <div class="tab-pane active show" >
            <%#= render partial: 'user/user_subscriptions/form/form' %>
            <span style="color: #006649; font-size: 25px;"> Please upgrade your 
               
              <a style="color: #4c9df3" href="/user/user_subscriptions"> susbscription plan </a>
            </span>
        </div>
        </div>
      </div>
    </div>
  </div>



  

  
  <%#= render partial: 'user/home/widgets/select_documnet_type' %>
  <%#= render partial: 'user/home/widgets/user_profile' %>
</div>
