    <!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<div class="vivify its-login-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="display: none;">
        <div class="auth_brand m-t-60" style="text-align: center;">
          <a class="navbar-brand" href="javascript:void(0);">
            <!-- <img src="../assets/images/itsme-logo-1.png" width="142" height="60" class="d-inline-block" alt=""> -->
            <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block", width: "142", height: "60" %>
          </a>
        </div>        
      </div>
      <div class="col-md-12" >
        <div class="row">
          <div class="card m-t-30" >&#8221
            <div class="body ">
              <div class="row">                  
                <div class="col-md-12 its-login-form" >
                  <div class="row its-login-header">
                    <!-- Mobile Logo -->
                    <div class="col-md-4 hide-desk show-tab">
                      <div class="auth_brand"> 
                        <a class="navbar-brand" href="javascript:void(0);">
                          <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block" %>
                        </a> 
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3">
                        <p class="lead">Terms And Conditions</p>
                      </div>
                    </div>
                    <div class="col-md-4 hide-mob hide-tab">
                      <div class="auth_brand">
                        <a class="navbar-brand" href="javascript:void(0);">
                          <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "                       d-inline-block" %>
                        </a>
                      </div>
                    </div>
                  </div>
                  <p>This website www.itslabel.me (collectively referred to as the "Site" in these Terms and Conditions of Service) is owned and operated by ITSLabel.me ("ITSLabel.me", "us", "we" or "our"). By using and accessing our Site, you ("you", "user" or, "end user") agree to these Terms of Service and Conditions (collectively, the "Terms and Conditions of Service" or "Agreement").</p>
                  <p>This Agreement sets forth the general terms and conditions of your use of the Site and any of its products or services (collectively, "Site" or "Services").</p>
                  <p><strong>IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, IMMEDIATELY STOP ACCESSING THIS SITE.</strong></p>
                  <p><strong>Billing and payments</strong></p>
                  <p>You shall pay all fees or charges to your account in accordance with the fees, charges, and billing terms in effect at the time a fee or charge is due and payable. If auto-renewal is enabled for the Services you have subscribed for, you will be charged automatically in accordance with the term you selected. If, in our judgment, your purchase constitutes a high-risk transaction, we will require you to provide us with a copy of your valid government-issued photo identification, and possibly a copy of a recent bank statement for the credit or debit card used for the purchase. We reserve the right to change products and product pricing at any time. We also reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made.</p>
                  <p><strong>Accuracy of information</strong></p>
                  <p>Occasionally there may be information in the Site that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, availability, promotions and offers. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Site or on any related Service is inaccurate at any time without prior notice (including after you have submitted your order). We undertake no obligation to update, amend or clarify information in the Site including, without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Site should be taken to indicate that all information in the Site or on any related Service has been modified or updated.</p>
                  <p><strong>Backups</strong></p>
                  <p>We are not responsible for content residing in the Site. In no event shall we be held liable for any loss of any content. It is your sole responsibility to maintain appropriate backup of your content. Notwithstanding the foregoing, on some occasions and in certain circumstances, with absolutely no obligation, we may be able to restore some or all of your data that has been deleted as of a certain date and time when we may have backed up data for our own purposes. We make no guarantee that the data you need will be available.</p>
                  <p><strong>Links to other Sites</strong></p>
                  <p>Although this Site may link to other Sites, we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked Site, unless specifically stated herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their Sites. We do not assume any responsibility or liability for the actions, products, services, and content of any other third-parties. You should carefully review the legal statements and other conditions of use of any Site which you access through a link from this Site. Your linking to any other off-site Sites is at your own risk.</p>
                  <p><strong>Prohibited uses</strong></p>
                  <p>In addition to other terms as set forth in the Agreement, you are prohibited from using the Site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related Site, other Sites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related Site, other Sites, or the Internet. We reserve the right to terminate your use of the Service or any related Site for violating any of the prohibited uses.</p>
                  <p><strong>Intellectual Property.</strong></p>
                  <p>You acknowledge and agree that all content and information on the Site is protected by proprietary rights and laws.</p>
                  <p>This Agreement does not transfer to you any intellectual property owned by us or third-parties, and all rights, titles, and interests in and to such property will remain (as between the parties) solely with us. All trademarks, service marks, graphics and logos used in connection with the Site are trademarks or registered trademarks of us. Other trademarks, service marks, graphics and logos used in connection with our Site or Services may be the trademarks of other third-parties. Your use of our Site and Services grants you no right or license to reproduce or otherwise use any of our own or third-party trademarks.</p>
                  <p><strong>Disclaimer of Warranty</strong></p>
                  <p>You expressly agree that use of the Site is at your sole risk and discretion. The Site and all content and other information contained on the Site is provided on an "AS IS" and "AS AVAILABLE" basis without warranty of any kind, whether express or implied. ITSLabel.me  shall use reasonable commercial efforts consistent with prevailing industry standards to maintain the Services in a manner which minimizes errors and interruptions in the Services, however ITSLabel.me  makes no warranty that (I) the Site and content or information will be uninterrupted, timely, secure or error-free, (II) the results that may be obtained from use of this Site will be effective, accurate or reliable. The Site may include technical mistakes, inaccuracies or typographical errors. ITSLabel.me reserves the right to change the Site content and information at any time without notice. ITSLabel.me strives to make the nutrition labeling process as seamless as possible, but you/the Customer are ultimately responsible for the accuracy and compliance of your/Customer's food product labeling, costing, recipe management, and inventory management.</p>
                  <p>You understand and agree that any material and/or data downloaded or otherwise obtained through the use of Service is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of such material and/or data. We make no warranty regarding any goods or services purchased or obtained through the Service or any transactions entered into through the Service. No advice or information, whether oral or written, obtained by you from us or through the Service shall create any warranty not expressly made herein.</p><p><strong>Limitation of Liability.</strong></p>
                  <p>In no event shall ITSLabel.me or its affiliates be liable for any indirect, incidental, special, punitive damages or consequential damages of any kind, or any damages whatsoever arising out of or related to your use of the Site, the content and other information obtained therein.</p>
                  <p>To the fullest extent permitted by applicable law, in no event will we, our affiliates, officers, directors, employees, agents, suppliers or licensors be liable to any person for (a): any indirect, incidental, special, punitive, cover or consequential damages (including, without limitation, damages for lost profits, revenue, sales, goodwill, use of content, impact on business, business interruption, loss of anticipated savings, loss of business opportunity) however caused, under any theory of liability, including, without limitation, contract, tort, warranty, breach of statutory duty, negligence or otherwise, even if we have been advised as to the possibility of such damages or could have foreseen such damages. To the maximum extent permitted by applicable law, the aggregate liability of us and our affiliates, officers, employees, agents, suppliers and licensors, relating to the Services will be limited to an amount of one dollar. The limitations and exclusions also apply if this remedy does not fully compensate you for any losses or fails of its essential purpose.</p>
                  <p><strong>Modifications to this Agreement.</strong></p>
                  <p>ITSLabel.me reserves the right to change or modify any of the terms and conditions contained in this Agreement at any time. You acknowledge and agree that it is your responsibility to review the Site and these Terms of Service from time to time. Your continued use of the Site after such modifications to this Agreement will constitute acknowledgment of the modified Terms and Conditions of Service and agreement to abide and be bound by the modified Terms and Conditions of Service.</p>
                  <p><strong>Restrictions and Responsibilities</strong></p>
                  <p>Customer will not, directly or indirectly: reverse engineer, decompile, disassemble or otherwise attempt to discover the source code, object code or underlying structure, ideas or algorithms of the Services or any software (including any Free Trial, live demo, and online tutorials), documentation or data related to the Services ("Software") in order to (A) build a competitive product or service, (B) build a product or service using similar ideas, features, functions or graphics of the Services, or (C) copy any ideas, features, functions or graphics of the Services; modify, translate, or create derivative works based on the Services or any Software; or license, sub-license, copy, rent, resell, distribute, lease, distribute, pledge, assign, or otherwise transfer or encumber rights to or commercially exploit the Services or any Software.</p>
                  <p>Customer represents, covenants, and warrants that Customer will use the Services only in compliance with these terms and conditions and only in compliance with all applicable laws (including but not limited to policies and laws related to spamming, privacy, obscenity or defamation). Customer hereby agrees to indemnify and hold harmless ITSLabel.me  against any damages, losses, liabilities, settlements and expenses (including without limitation costs and attorneys' fees) in connection with any claim or action that arises from an alleged violation of the foregoing or any other breach of this Agreement, or otherwise from Customer's use of the Services, or alleging that the Customer data infringes the intellectual property rights of, or has otherwise harmed, a third party. Although ITSLabel.me  has no obligation to monitor the data or content provided by Customer or Customer's use of the Services, ITSLabel.me  may do so and may remove any such content or immediately prohibit and terminate any use of the Services it believes may be (or alleged to be) in violation of the foregoing. Customer shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, and appropriateness of all Customer data, including Customer data entered into any ITSLabel.me database, and shall not negligently or intentionally enter incorrect data into any ITSLabel.me database.</p>
                  <p>Customer shall not create multiple free trial accounts.</p>
                  <p><strong>Termination of Use.</strong></p>
                  <p>ITSLabel.me shall have the right to immediately terminate or suspend, in its discretion, your access to all or part of the Site in the event that:</p>
                  <ul><li>Customer's payment for Services has expired</li><li>Customer is in probable breach of any of these Terms and Conditions or operating outside of authorized use, determined solely at the discretion of ITSLabel.me</li></ul>
                  <p><strong>Governing Law.</strong></p>
                  <p>Any disputes arising out of or related to these Terms of Service and/or any use by you of the Site shall be governed by the laws of the England and Wales, without regard to the conflicts of law’s provisions therein.</p>
                  <p><strong>Indemnification</strong></p>
                  <p>You agree to indemnify and hold us and our affiliates, directors, officers, employees, and agents harmless from and against any liabilities, losses, damages or costs, including reasonable attorneys' fees, incurred in connection with or arising from any third-party allegations, claims, actions, disputes, or demands asserted against any of them as a result of or relating to your content, your use of the Site or Services or any willful misconduct on your part.</p>
                  <p><strong>Severability</strong></p>
                  <p>All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding only to the extent that they do not violate any applicable laws and are intended to be limited to the extent necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the parties that the remaining provisions or portions thereof shall constitute their agreement with respect to the subject matter hereof, and all such remaining provisions or portions thereof shall remain in full force and effect.</p>
                  <p><strong>Dispute resolution</strong></p>
                  <p>The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of United Arab Emirates without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of United Arab Emirates. The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the state and federal courts located in United Arab Emirates, and you hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising out of or related to this Agreement. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement.</p>
                  <p><strong>Assignment</strong></p>
                  <p>You may not assign, resell, sub-license or otherwise transfer or delegate any of your rights or obligations hereunder, in whole or in part, without our prior written consent, which consent shall be at our own sole discretion and without obligation; any such assignment or transfer shall be null and void. We are free to assign any of its rights or obligations hereunder, in whole or in part, to any third-party as part of the sale of all or substantially all of its assets or stock or as part of a merger.</p><p><strong>Acceptance of these terms</strong></p>
                  <p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Site or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Site and its Services.<strong> </strong></p>
                  <p><strong>Contacting us</strong></p><p>If you would like to contact us to understand more about this Agreement or wish to contact us concerning any matter relating to it, you may send an email to info@itslabel.me.</p>
                  <p><strong>Date of Last Update.</strong></p><p>This Agreement was last updated on 15<sup>th</sup> February, 2021.</p>     
                </div>
              </div>
            </div>
          </div>                        
        </div>        
      </div>      
    </div>    
  </div>
</div>


