    <!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<div class="auth-main2">
  <div class="vivify its-login-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="display: none;">
          <div class="auth_brand m-t-60" style="text-align: center;">
            <a class="navbar-brand" href="javascript:void(0);">
              <!-- <img src="../assets/images/itsme-logo-1.png" width="142" height="60" class="d-inline-block" alt=""> -->
              <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block", width: "142", height: "60" %>
            </a>
          </div>
          
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10" style="margin: 0 auto">
              <div class="card m-t-20">
                <div class="body its-login-body">
                  <div class="row">
                    
                    <div class="col-md-12 its-login-form">
                      <div class="row its-login-header">
                        <!-- Mobile Logo -->
                        <div class="col-md-4 hide-desk show-tab">
                          <div class="auth_brand"> <a class="navbar-brand" href="javascript:void(0);">
                            <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "d-inline-block" %>
                          </a> </div>
                        </div>

                        <div class="col-md-8">
                          <div class="mb-3">
                            <p class="lead">Terms And Conditions</p>
                          </div>
                        </div>
                        <div class="col-md-4 hide-mob hide-tab">
                          <div class="auth_brand">
                            <a class="navbar-brand" href="javascript:void(0);">
<!--                               <img src="../assets/images/itsme-logo-1.png" class="d-inline-block" alt="">
 -->                              <%= image_tag "itsme-logo-1.png", alt: "Login Image", class: "                       d-inline-block" %>
                            </a>
                          </div>
                        </div>


                      </div>

                        <p>AGREEMENT TO TERMS</p><br>
                        <p>

							These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”).

							You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.

							Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason.
						</p>




                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
</div>


