<div class="container-fluid">
  <%= render partial: 'user/documents/index/doc_header' %>
  <div id="doc_index">
    <%= render partial: 'user/documents/index/index' %>
  </div>
  <%= render partial: 'user/common/copyright' %>
</div>
