<div class="block-header">
  <div class="row clearfix">
    <div class="col-md-6 col-sm-12">
      <h2>Registrations</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Translations Database</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">Registrations</li>
        </ol>
      </nav>
    </div>            
    <div class="col-md-6 col-sm-12 text-right">
      <%#= link_to new_admin_admin_user_path, remote: true, class: "btn btn-sm btn-primary" do %>
        <!-- <i class="fa fa-plus"></i> New User -->
      <%# end %>
    </div>
  </div>
</div>