<div class="row clearfix"> 
    <div class="col-lg-12">
      <div class="card" >
           <div class="tab-pane active show" id="Translation_Requests_List">
           	 
           <%= render partial: 'admin/translation_requests/index/table' %>
           <%= paginate @translation_requests if @translation_requests.present? %>

         </div>
      </div>
    </div>
  </div>

<%= content_for :javascript_footer do %>
  <%= render :partial=>"admin/translation_requests/index/table.js.erb"  %>
<% end %>