<div class="container-fluid">

  <!-- Header -->
  <%= render partial: 'admin/upload_translations/index/header' %>

  <div class="row clearfix" id="upload_translation_content">

    <!-- index -->
    <%= render partial: 'admin/upload_translations/index/index' %>
  </div>
</div>

