<div class="container-fluid">

  <!-- Header -->
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h1>Home</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Welcome to ITSLabel.me</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- Show Success / Error / Info Messages If any set by the controller action -->
  <%= flash_message(false) if defined?(flash) -%>

  <!-- Widget - Try Translation -->
  <%= render partial: 'user/free_form_widget/index/widget' %>

  <!-- Widgets - New Document -->
  <%= render partial: 'user/home/widgets/new_document' %>
  
  <!-- Recent Translations -->
  <div class="row clearfix">
    <%= render partial: 'user/home/widgets/recent_translations' %>
  </div>

  
  <%#= render partial: 'user/home/widgets/select_documnet_type' %>
  <%#= render partial: 'user/home/widgets/user_profile' %>
</div>