
<% output_style = "direction: rtl;" %>
<h2>ITSLabe.me</h2>

<div style='margin:10px;padding:20px;background-color: #fff; color: #4b4b4b; font-size:18px;'>
    <h2 align="center">Template documents</h2>

    <hr>
    
    <div style="<%= output_style %>">
      <h2>Output</h2>
      <p><%= raw(@document.try(:output_html_source).to_s) %></p>
    </div>

    <div style="clear:both;"></div>

    <hr>
  
</div>

