<div class="container-fluid">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-12 col-sm-12">
        <!-- <h1><%#= @document.title %></h1> -->
        <h1>Select Template</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", user_home_path %></li>
            <li class="breadcrumb-item"><%= link_to "Translations", user_documents_path(dt: "template") %></li>
            <li class="breadcrumb-item active">New Translation</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row clearfix its-template-mcontainer">
    <div class="col-md-12">
      <div class="row">
        <div class="mb-4 pl-3" class="col-md-8">
          <!-- <h3>Table Mode - Translation</h3> -->
          <p>Select a template to start creating your label.</p>
        </div>
      </div>
    </div>

  <%= render partial: 'user/template_documents/select_template/index' %>
  </div>


  <%= render partial: 'user/common/copyright' %>
</div>