<div class="context-menu" id="context-menu" style="display:none;position:absolute;z-index:99">
  <ul>
    <li><a href="#"><i class="fa fa-pencil"></i>  Edit</a></li>
    <li><a href="#"><i class="icon-trash"></i>  Delete</a></li>
    <li><a href="#"><i class="fa fa-archive"></i> Archive</a></li>
<!--     <li><a href="#"><i class="fa fa-cut"></i> Cut</a></li>
    <li><a href="#"><i class="fa fa-files-o"></i> Copy</a></li>
    <li><a href="#"><i class="fa fa-paste"></i> Paste</a></li>
    <li><a href="#"><i class="fa fa-share fa-fw"></i> Move</a>
    <ul class="context-menu-dd">
      <li><a href="#">Folder 01</a></li>
      <li><a href="#">Folder 02</a></li>
      <li><a href="#">Folder 03</a></li>
    </ul> -->
  </li>
</ul>
</div>