<div class="block-header">
  <div class="row clearfix">
    <div class="col-md-6 col-sm-12">
      <h2>Documents</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Documents Database</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">Documents</li>
        </ol>
      </nav>
    </div>            
    <div class="col-md-6 col-sm-12 text-right hidden-xs">
        <div class="dropdown">
          <button class="btn b btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Document
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Table Based", new_user_table_document_path(), class: "dropdown-item" %>
            <%= link_to "Template Based", new_user_template_document_path(), class: "dropdown-item" %>
          </div>
        </div>
    </div>
  </div>
</div>