<div class="container-fluid" >

  <!-- Header -->
  <%= render partial: 'admin/translation_requests/show/header' %> 
 
  <!-- index -->
  <%= render partial: 'admin/translation_requests/show/index' %>

</div>
