<!-- End Top Navigation -->
<nav class="navbar top-navbar">
  
  <div class="container-fluid">

    <div class="navbar-left">
      <div class="navbar-btn">
        <%= link_to "#" do %>
          <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
          <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        <% end %>
      </div>
    </div>
      
    <div class="navbar-right">
      <div id="navbar-menu">
        <ul class="nav navbar-nav">

          <li>
            <a href="javascript:void(0);" class="search_toggle icon-menu" title="Search Result">
              <i class="icon-magnifier"></i>
            </a>
          </li>
          <li>
            <%= link_to content_tag(:i, "", class: "icon-power"), destroy_admin_user_session_url, method: :delete, class: "icon-menu" %>
          </li>

        </ul>
      </div>
    </div>

  </div>

  <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>

</nav>
<!-- End Top Navigation -->