<div class="row clearfix its-upload-container">
  <!-- Block 01 -->
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <div class="body" style="height:300px;">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-square"></i></div>
          <div class="ml-4">
            <h3>Browse Templates</h3>
          </div>
        </div>
        <div class="mt-4">
          <p>Choose from a selection of ready-made templates and add your ingredients for instant print-ready translated labels. We’re constantly adding new templates so please check back frequently for new options. </p>
          <button class="btn btn-primary btn-block" type="button">
            <%= link_to "Select a Template", select_template_user_template_documents_path, style: "color: #fff;display: block;" %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Block 02 -->
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <div class="body" style="height:300px;">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-table"></i></div>
          <div class="ml-4">
            <h3>Sheet Translation</h3>
          </div>
        </div>
        <div class="mt-4">
          <p>Use this option for an ingredient-by-ingredient translation. Fill in the relevant fields and choose your preferred output template. Supports group copy/pasting from Microsoft Excel. </p>
          <button class="btn btn-primary btn-block" type="button">
            <%= link_to "Try it Out", new_user_table_document_path(), style: "color: #fff;display: block;" %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Block 03 -->
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <div class="body" style="height:300px;">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-file"></i></div>
          <div class="ml-4">
            <h3>Import</h3>
          </div>
        </div>
        
        <div class="mt-4">
          <p>Use this option to upload ingredient files for translation and exporting to one of many available formats like Microsoft Excel and Adobe PDF.  </p>
          <button class="btn btn-primary btn-block" type="button"><a href="new-translation.html" style="color: #fff;display: block;">Upload</a></button>
        </div>
      </div>
    </div>
  </div>
</div>