<%
  @documents = DocumentView.preload(:template).activated.limit(5).order("created_at DESC").all
%>

<div class="col-lg-12 col-md-12">
  <div class="header">
    <h2>Recent Translations</h2>
  </div>
  
  <% if @documents.any? %>
  
    <!-- Rendering the Table -->
    <%= render partial: 'user/documents/index/table', locals: {display_actions: false} %>

  <% else %>

    <a class="card">
      <div class="body text-center">
        <h6 class="mt-3">You haven't started yet</h6>
        <div class="text-center text-muted">Click on a button above. Its easy.</div>
      </div>
    </a>

  <% end %>

</div>