<div class="table-responsive">
    <table class="table table-hover table-custom spacing5">
        <thead>
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 25%;">Input Phrase</th>
            <th style="width: 15%;">Input Language</th>
            <th style="width: 25%;">Output Phrase</th>
            <th style="width: 15%;">Output Language</th>
            <th style="width: 15%;">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>01</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="#" title="">Biotin</a>  
                        </div>
                    </div>
                </td>
                <td class="its-tag">ENGLISH</td>

                <td>بيوتين</td>
                <td>ARABIC</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>02</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="#" title="">Xylitol</a>  
                        </div>
                    </div>
                </td>
                <td class="its-tag">ENGLISH</td>

                <td>إكسيليتول</td>
                <td>ARABIC</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>03</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="#" title="">Amino Acids</a>  
                        </div>
                    </div>
                </td>
                <td class="its-tag">ENGLISH</td>

                <td>أحماض أمينية</td>
                <td>ARABIC</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>04</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="#" title="">Zinc Acetate</a>  
                        </div>
                    </div>
                </td>
                <td class="its-tag">ENGLISH</td>

                <td>أسيتات الزنك</td>
                <td>ARABIC</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>05</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="#" title="">Acesulfame Potassium</a>  
                        </div>
                    </div>
                </td>
                <td class="its-tag">ENGLISH</td>

                <td>أسيسلفام البوتاسيوم</td>
                <td>ARABIC</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
                    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>