<div class="body mt-2">
  <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name *">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email ID *">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Confirm Password">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Mobile No">
        </div>
      </div>                            

      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Employee ID *">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">                                   
          <input type="text" class="form-control" placeholder="Username *">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
          <select class="form-control show-tick">
            <option>Select Role Type</option>
            <option>Super Admin</option>
            <option>Admin</option>
            <option>Employee</option>
          </select>
        </div>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary pull-right ml-2">Save</button>
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
      </div>
  </div>
</div>