<div class="body mt-2">

    <div class="row clearfix">
      <div class="header p-3 mb-4">
        
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
       </div>
    </div>

     <div class="row clearfix">
          <% if @subscriptions.present? %>
          <% @subscriptions.each_with_index do |subscription, i| %>
         <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             
              <h5> <a href="/admin/subscription_modules/add_edit_modules/<%= subscription.id %>"><%= subscription.title %></a></h5>
             
            
            </div>
        </div>
                     
              <%  end %>
         <% end %>
        
    </div>
   
  </div>
