<div  id="DIV_MODAL_SMALL" class="modal fade" id="translation-required" tabindex="-1" role="dialog" aria-labelledby="translation-required" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <!-- Model Content comes here -->
      </div>
    </div>
  </div>
</div>