<div class="col-md-4 form-group" style="text-align:right;">
    <button class="btn btn-primary btn-lg mt-1 mb-1" data-toggle="modal" data-target="#myModal">Report An Issue</button>   
</div>
         