<center>
	<img class="d-inline-block" src="https://app.itslabel.me/assets/itsme-logo-1-a1c066cb066e5e7d069f1b5b16055121a0702106fe006d0212d213bf904ac2f9.png" height="200" width="500" align="middle">
	<br>
	<h2>Reset Your Password Here!</h2>
	<p>Seems like you forgot your password for ITS, If this is true click below to reset your password</p>
	<a href="http://localhost:3000/users/password/edit?t=<%=@password_token%>,s=<%=@password_sent_at%>">Click Here</a>
	<p>if you did not forgot your password you can safely ignore this email.</p>
	<hr>
	<p>© ITS. 1801 California St., Suite 500, Denver, CO 80202 USA</p>
</center> 