<img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/vD4UDIF7WcyysbDGkUBsH7FM4CpecBCDJ7kvVD9jytnRqwWmDgYaokmg1HWDl4ghNTGsQ4d7_pdIcBYewHHpDZ4QzcKg_DCK3S0G8Ubgg-TyGp9CHHMWPuOXuVD11WPi56873-MHg9EAv3dZwY_z_qfZDuNOVQ=s0-d-e1-ft#https://mcusercontent.com/893355588917bd831ad08eddd/images/c2d65d0e-7cc3-4c2b-b955-7e957c993ba6.png" width="395" style="max-width:395px;padding-left: 280px;padding-bottom:0;display:inline!important;vertical-align:bottom;right:60px;" class="m_mcnImage">
<div style="padding:0px 15px">Dear <%=@client_user.display_name%>,<br>
	<br>
	Thank you for signing up for <strong>ITSLabel.me</strong> - <strong style="color:#00674a;font-weight:bold;text-decoration:none">Food Ingredients Translation platform.</strong><br>
	<br>
	We designed <strong>ITSLabel.me</strong> to be a very useful and cost-effective tool to support your export and translation requirements and believe you and your team will find it tremendously helpful whether you manage localisations internally or through a third-party supplier.<br>
	<br>
	<strong style="color:#00674a;font-weight:bold;text-decoration:none">ITSLabel.me supports¦</strong><br>

	<ul>
		<li><strong style="color:#00674a;font-weight:bold;text-decoration:none">The localisation of a proprietary database of over 6,000 ingredients from and to 4 languages: Arabic, English, French, and Spanish.</strong></li>
		<li><strong style="color:#00674a;font-weight:bold;text-decoration:none">Complex Chemicals</strong></li>
		<li><strong style="color:#00674a;font-weight:bold;text-decoration:none">E-Numbers</strong></li>
		<li><strong style="color:#00674a;font-weight:bold;text-decoration:none">Measurement Units</strong></li>
	</ul>

	Our roadmap is filled with exciting new features that will be deployed in due course, along with additional languages, so please try it out and give us your feedback.<br>
	<br>
	<strong style="color:#00674a;font-weight:bold;text-decoration:none">Thank you once again and we look forward to supporting your business.</strong><br><br>
</div>
<a href="https://itslabel.me" title="" target="_blank" rel="noreferrer">
<img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/PaDB3KXnP9Pmw5GaozWJlP5Zerytbhsl4nmG0NmHfQXSrHQAP5JSx1C5IMR-fumaPrszuPCRXZnbsHM9vPdnN678dIX6ccdN-hHKeoraA8qSbXKeqWPWeVoFMr6_yoO124PFpoK9zMaDuX9O6iYQSWh0ZoWHXg=s0-d-e1-ft#https://mcusercontent.com/893355588917bd831ad08eddd/images/d820324e-11e4-4a92-83f6-d558ea407af2.jpg" width="395" style="max-width:395px;padding-left: 280px;padding-bottom:0;display:inline!important;vertical-align:bottom" class="m_mcnImage">
</a>
