<center>
	<img class="d-inline-block" src="https://app.itslabel.me/assets/itsme-logo-1-a1c066cb066e5e7d069f1b5b16055121a0702106fe006d0212d213bf904ac2f9.png"  align="middle">
	<br>
	<h2 style="margin-bottom: 15px;">Hi <%=@client_user.display_name%> Thanks for signing up !</h2>
	<p>Thanks for joining and have a great day! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<hr>
	<p>© ITS. E52, Shama Tower, Sheikh Zayed Road, Dubai, UAE</p>
</center>
<style type="text/css">
	.img {
				height="60";
				width="130";
				margin-bottom: 35px;
				margin-top: 10px;
	     }
</style>