<%= image_tag "itsme-logo-1.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
<br>
<h2>Reset Your Password Here!</h2>
<p>Seems like you forgot your password for ITS, If this is true click below to reset your password</p>
<a href="">Click Here</a>
<p>if you did not forgot your password you can safely ignore this email.</p>
<hr>
<p>© ITS. 1801 California St., Suite 500, Denver, CO 80202 USA</p>

 