<!-- Head -->
<head>
  <title>ITSLabel.me | Sign Up</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  
  <!-- VENDOR CSS -->
  <!-- <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/vendor/animate-css/vivify.min.css"> -->


  <!-- MAIN CSS -->
  <!-- <link rel="stylesheet" href="assets/css/site.min.css">
  <link rel="stylesheet" href="assets/css/color.css">
  <link rel="stylesheet" href="assets/css/itslabel.css"> -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
</head> 