<div class="row pb-4">
  <div class="col-sm-6">
    <ul class="list-group felix-ul-table-style">
      <li class="list-group-item"><div class="row"><div class="col-sm-6">Input Language :</div><div class="col-sm-6"><b><%= @document.try(:input_language) %> </b></div></div></li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-group felix-ul-table-style">
      <li class="list-group-item"><div class="row"><div class="col-sm-6">Output Language 1 :</div><div class="col-sm-6"><b><%= @document.try(:output_1_language) %></b></div></div></li>
    </ul>
  </div>
</div>