<!-- End Top Navigation -->
<nav class="navbar top-navbar">
  
  <div class="container-fluid">

    <div class="navbar-left">
      <div class="navbar-btn">
        <%= link_to "#" do %>
          <%= image_tag "itsme-logo.png", alt: "ITSLabel Logo", class: "img-fluid logo" %>
          <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>
</nav>
<!-- End Top Navigation -->