<!-- Search Container -->
<div class="search_div">
    <div class="card">
        <div class="body">
            <form id="navbar-search" class="navbar-form search-form">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        <a href="javascript:void(0);" class="search_toggle btn btn-danger bg-green"><i class="icon-close"></i></a>
                    </div>
                </div>
            </form>
        </div>            
    </div>
    <span>Search Result <small class="float-right text-muted">About 90 results (0.47 seconds)</small></span>
    <div class="table-responsive">
        <table class="table table-hover table-custom spacing5">
            <tbody>
                <tr>
                    <td class="w40">
                        <span>01</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <a href="#" title="">New Label 90237</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>02</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <a href="javascript:void(0);" title="">Marmite Oct 2019</a>
                            </div>
                        </div>                                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>03</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <a href="javascript:void(0);" title="">New Label 189263</a>
                            </div>
                        </div>                                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>04</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <a href="javascript:void(0);" title="">Robinson Foods</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>05</span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <a href="javascript:void(0);" title="">New Label 90456</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End Search Container -->