<div class="row clearfix">
    <div class="col-md-6 col-sm-12">
        <h2>User Profile</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">It's Label</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
    </div> 
</div>
