<div class="input-group" id="adv-search">
  <input type="text" class="form-control" name="q" id="q" placeholder="Search..." />
  <div class="input-group-btn">
    <div class="btn-group" role="group">
      <div class="dropdown dropdown-lg">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <form class="form-horizontal" name="adv_search" action="" method="get" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="filter">English Phrase</label>
                  <input type="text" class="form-control" name="filters[english_phrase]" id="english_phrase">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="filter">Arabic Phrase</label>
                  <input type="text" class="form-control" name="filters[arabic_phrase]" id="arabic_phrase">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="filter">French Phrase</label>
                  <input type="text" class="form-control" name="filters[french_phrase]" id="french_phrase">
                </div>
              </div>
              
              <div class="col-md-3">
                <div class="form-group">
                  <label for="filter">Status</label>
                  <select name="filters[status]" class="form-control">
                    <option value="" selected>All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="removed">Removed</option>
                    <option value="approved">Approved</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="its-mright">
              <button type="submit" class="btn btn-primary">Reset</button>
              <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
          </form>
        </div>
      </div>
      <button type="button" class="btn btn-primary" onclick="search()"><i class="icon-magnifier"></i></button>
    </div>
  </div>
</div>
<%= content_for :javascript_footer do %>
<%= render :partial=>"admin/translations/index/controls.js.erb"  %>
<% end %>