<%= binding.pry %>
<%# if @translation.errors.blank? %>
$('.nav-tabs a[href="#linst_translation"]').tab('show');

// $('#translation_listing_table > tbody:last-child').append('<tr> <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td> </tr>');
<%# @translation.new %>
<%# end %>

// setTimeout(function(){ window.location.reload(); }, 2000);
