<div class="table-responsive">
  <table class="table table-hover table-custom spacing8">
    <thead>
      <tr>
        <th class="w60">Name</th>
        <th></th>
        <th></th>
        <th>Created Date</th>
        <th>Role</th>
        <th class="w100">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="width45">
          <div class="avtar-pic w35 bg-pink" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name"><span>MN</span></div>
        </td>
        <td>
          <h6 class="mb-0">Marshall Nichols</h6>
          <span>marshall-n@gmail.com</span>
        </td>
        <td><span class="badge badge-danger">Super Admin</span></td>
        <td>24 Jun, 2015</td>
        <td>CEO and Founder</td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>                
</div>