<div class="container-fluid">
  
  <!-- Header -->
  <%= render partial: 'user/client_profile/index/header' %>
  
  <!-- Controls -->
  <%#= render partial: 'admin/admin_users/index/controls' %>
  
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
       
        <div class="tab-content mt-0">
          
              <%= render partial: 'user/client_profile/index/controls' %>
              
                 <%= render partial: 'user/client_profile/form/form' %>
            
            
              
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

