<!-- Display Header -->
<%= render partial: 'user/template_documents/common/header' %>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12">

    <!-- Display Tempalte Form -->
    <%= render partial: 'user/template_documents/show/details' %>

  </div>
</div>