
<div class="modal" id="client_feedbacks">
 <div class="modal-dialog">  
      <!-- Modal content-->
  <div class="modal-content" style="padding: 20px;position: absolute;right: 0px;border: none;top: -24px;right: -20px;">
  	<%= render partial: 'user/client_feedbacks/form/form' %>
  </div>
 </div>
</div>
         

