<div class="row clearfix"> 
    <div class="col-lg-12">
      <div class="card" >
           <div class="tab-pane active show" id="Translation Requests">
           	 
           <%= render partial: 'admin/translation_requests/show/table' %>

         </div>
      </div>
    </div>
  </div>

<%= content_for :javascript_footer do %>
  <%= render :partial=>"admin/translation_requests/show/table.js.erb"  %>
<% end %>