<div class="row clearfix its-upload-container">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="body">
                <div class="d-flex align-items-center">
                    <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-credit-card"></i></div>
                    <div class="ml-4">
                        <h3>Pick one from the Template</h3>
                        <h4 class="mb-0 font-weight-medium">Letraset sheets containing Lorem Ipsum passages</h4>
                    </div>
                </div>

                <div class="mt-4">
                    <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum infancy. Various versions have evolved over the years, sometimes by accident</p>

                    <p>Content here, content here', making it look like readable English. Many desktop publishing  web page editors now use web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>
                    <button class="btn btn-primary btn-block" type="button"><a href="select-template.html" style="color: #fff;display: block;">Select a Template</a></button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="body">
                    <div class="d-flex align-items-center">
                        <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-credit-card"></i></div>
                        <div class="ml-4">
                            <h3>Upload the Document</h3>
                            <h4 class="mb-0 font-weight-medium">Letraset sheets containing Lorem Ipsum passages</h4>
                        </div>
                    </div>

                    <div class="mt-4">
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum infancy. Various versions have evolved over the years, sometimes by accident</p>

                        <p>Content here, content here', making it look like readable English. Many desktop publishing  web page editors now use web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>
                        <button class="btn btn-primary btn-block" type="button"><a href="new-translation.html" style="color: #fff;display: block;">Upload the Document</a></button>
                    </div>
                </div>
            </div>
    </div>
</div>