/*


 *= require site.scss
 *= require color.scss
 *= require iframe
 *= require its-nf
 *= require itslabel
 *= require its-arabic
 *= require its-login
 *= require ad-search
 *= require freestyle-widget.css
 *= require its-registration-form.css
 *= require its-subscription.css
 *= require its-right-context-menu.css
 *= require its-file-mager.css
 *= require its-select.css
 *= require its-tree.css
 *= require itslabel.css
 *= require responsive.css
 *= require_self
 */

 @keyframes highlightAfterAdd {
  0% {
    background-color: #c3ffd0;
    border-size: 1px;
    border-color: #aee2b9;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightAfterUpdate {
  0% {
    background-color: #fffbdd;
    border-color: #b7b4a0;
    border-size: 1px;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightFailedDestroy {
  0% {
    background-color: #ffc9c5;
    border-color: #b1908d;
    border-size: 1px;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightForAttention {
  0% {
    background-color: #fffbdd;
  }
  100% {
    background-color: #fff;
  }
}