/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/bootstrap.css
 *= require font-awesome/font-awesome.css
 *= require animate-css/vivify.min.css
 *= require c3/c3.min.css
 *= require bootstrap-tagsinput/bootstrap-tagsinput.css

 *= require site.min.css
 *= require color.css
 *= require itslabel.css

 *= require others/toastr.css
 
 *= require_self
 */

 @keyframes highlightAfterAdd {
  0% {
    background-color: #c3ffd0;
    border-size: 1px;
    border-color: #aee2b9;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightAfterUpdate {
  0% {
    background-color: #fffbdd;
    border-color: #b7b4a0;
    border-size: 1px;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightFailedDestroy {
  0% {
    background-color: #ffc9c5;
    border-color: #b1908d;
    border-size: 1px;
  }
  100% {
    background-color: #fff;
    border-color: #fff;
  }
}
@keyframes highlightForAttention {
  0% {
    background-color: #fffbdd;
  }
  100% {
    background-color: #fff;
  }
}