a{
	color: #006649;
}

a:hover{
	color: #006649;
}


.light_version{
	background: #f7faf9 asset_url(icons/logo-icon);
    background-position: right 30px;
    background-repeat: no-repeat;
    background-size: 30%;
}

.btn-primary{
	color: #fff;
    background-color: #006649;
    border-color: #006649;
}

.btn-primary:hover{
    background-color: #006649;
    border-color: #006649;	
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #006649;
    border-color: #006649;	
}

.sidebar-nav .metismenu>li.active>a{
	color: #fff;
}

.light_version .top-navbar{
	background: #006649;
}

.badge-success{
	border-color: #006649;
    color: #006649;
}

.bg-green{
	background-color: #006649;
}


.light_version .table tr th{
	background-color: #006649 !important;
	color: #fff;
}

.light_version .table thead tr th .remove-border.p-0{
	color: #fff !important;
}

.light_version .table tbody tr th{
	background-color: #fff !important;
	color: #006649 !important;
}

.light_version .navbar-nav .icon-menu{
	color: #fff;
	padding-left: 0px;
}

.light_version #left-sidebar .navbar-brand{
	background-color: #006649 !important;
	margin: 0px;
	padding: 30px;	
	border: none;
}

.custom-select:focus{
	background: white;
	color: #006649;
}

.btn-success{
	background:  #006649;
}

.its-export-btn{
	color: #fff;
}

.badge-info{
	border-color: #006649;
    color: #006649;
}

.social .profile-header{
	background:  #006649;
	box-shadow: none;
}

.light_version .pagination .page-link{
	border-color: #f1f1f1 !important;
}

.light_version .pagination {
	float: right;
}


.pagination>li>a, .pagination>li>span{
	color: #77797c; 
}

.pagination>li.active a{
	background: #006649 !important;
}

.body .bg-azura{
	background:  #006649 !important;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	background:  #006649 !important;
}

.its-login-social li{
	border:1px solid #006649;
	background:  #006649;
}

.its-login-social li:hover{
	background:  #006649;
	border-color: #006649;
}

.its-login-social li:hover,
.its-login-social li:hover button i,
.its-login-social li:hover button{
  color: #fff !important;
}

.its-login-social li,
.its-login-social a,
.its-login-social li button i,
.its-login-social li button{
  color: #fff !important;
}

.badge-active{
	background: #006649;
	color: #fff;
}

.badge-inactive{
	background: #dc3545;
	color: #fff;
	border-color: #dc3545;
}

.badge-removed{
	background: #ffc107;
	color: #fff;
	border-color: #ffc107;
}

.badge-archived{
	background: #a3a3a3;
	color: #fff;
	border-color: #a3a3a3;	
}


.light_version .fancy-radio input[type="radio"]+span i, .light_version .fancy-checkbox input[type="checkbox"]+span:before{
	border-color: #006649;
    color: #006649;
}

.btn-primary.focus, .btn-primary:focus{
	box-shadow: none;
}


.page-loader-wrapper .loader .bar1 {
	background-color: #006649;
}

.page-loader-wrapper .loader .bar2 {
	background-color: #006649;
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s
}

.page-loader-wrapper .loader .bar3 {
	background-color: #006649;
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s
}

.page-loader-wrapper .loader .bar4 {
	background-color: #006649;
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s
}

.page-loader-wrapper .loader .bar5 {
	background-color: #006649;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s
}

.light_version .metismenu a:hover{
	color: #006649;
	color: #fff;
	opacity: .9;
}

.light_version .user-account,
.light_version .metismenu a,
.light_version .metismenu li.header{
	color: #fff;
	font-weight: bold;
}

.light_version .metismenu a:hover{
	color: #fff
}

.light_version .user-account span{
	font-weight: normal;
	font-size: 12px;
}

.light_version .block-header h2, .light_version .block-header h1{
	font-weight: bold;
	color: #006649 !important
}