body{
	font-family: 'Roboto', sans-serif;
}

.iframe-arabic{
	font-family: 'Cairo', sans-serif;
	direction: rtl;
}

.mce-item-table, .mce-item-table caption, .mce-item-table td, .mce-item-table th{
	border: none !important;
}

.iframe-table{
	text-align: center;
	width: 100%;
}

.iframe-table tr th {
    background: none !important;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    padding-bottom: 15px;
}

.iframe-table.iframe-arabic tr th{
	line-height: 20px;
}

.iframe-table.iframe-arabic tr td{
	line-height: 20px;
}

.iframe-table img{
	height: 45px;
}

.iframe-table span{
	width: 100%;
    display: inline-block;
}

.iframe-vertical-table{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #dedede;
	padding: 20px;
}

.vertical-width-200{
	width: 200px;
}

.vertical-width-300{
	width: 300px;
}

.vertical-width-400{
	width: 400px;
}

.vertical-width-500{
	width: 500px;
}




/** Alignment **/

.iframe-align-left{
	text-align: left;
}

.iframe-align-right{
	text-align: right;
}