body{
	font-family: 'Montserrat', sans-serif;
}

.iframe-table{
	text-align: center;
	width: 100%;
}

.iframe-table tr th {
    background: none !important;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    padding-bottom: 15px;
}

.iframe-table img{
	height: 45px;
}

.iframe-table span{
	width: 60%;
    display: inline-block;
}

.iframe-vertical-table{
	width: 35%;
	margin: 0 auto;
	border: 1px solid #dedede;
	padding: 20px;
}

.vertical-width-200{
	width: 200px;
}

.vertical-width-300{
	width: 300px;
}