.mail-inbox .mail-left{
    width: 250px;
}

.mail-inbox .mail-right tr:nth-child(even){
    background-color: #f7f7f7 !important;
}

.mail-inbox .mail-right tr td{
    background: none !important;
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:2em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#006747;
    font-weight:500;
    position:relative
}

.tree li a.active{
    font-weight: bold;
}

.tree li i{
    padding-right: 10px;
}

.tree li.branch{
    cursor: pointer;
}

.tree > li{
    padding-left: 0px;
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#006747;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#006747;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.its-fm-icon {
    padding: 0px;
}

.its-fm-icon img{
    width: 100%;
}

.its-fm-text{
    padding: 5px 0px 10px 0px;
}

.its-fm-text h5{
    font-size: 16px;
}

.its-fm-text p{
    margin-bottom: 0px;
}
 

.fa-plus {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.fa-plus:before {
    content: "\f067";
}

.fa-plus.fa-minus:before{
    content: "\f068";
}

#tree2 li{
    position: relative;
}

#tree2 li:hover .tree-plus-right,
#tree2 li:hover .tree-close-right{
    opacity: 1;
}

#tree2 li span.fa{
    position: absolute;
    left: 0px;
    top: 8px;
}

#tree2 li i{
    margin-left: 20px;
}

#tree2 li ul li span.fa{
    left: 15px;
}

.tree-plus-right{
    position: absolute;
    right:0px;
    top: 8px;
    font-size: 12px;
    opacity: 0;
}

.tree-close-right{
    position: absolute;
    right: 18px;
    top: 8px;
    font-size: 12px;
    opacity: 0;
}

.tree-close-right{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tree-close-right:before{
        content: "\f00d";
}

#tree2{
        position: relative;
    top: -20px;
}

.tree-folder-icon{
     background: #f7f7f7 !important;
     display: inline-block;
     text-align: center;
    width: 120%;
    position: relative;
    top: -21px;
    left: -21px;
    padding: 5px;
    text-align: left;
    padding-left: 12px;
   
}

.tree-folder-icon a{
    background: #f7f7f7 !important;
    color: #006649;
    border: none;
    padding: 10px;
    text-align: left;
}

.tree-folder-icon a:hover{
    box-shadow: none;
}