.tree-close-right1{
    position: absolute;
    right: 38px;
    top: 8px;
    font-size: 12px;
    opacity: 0;
    left: inherit;
}

.tree-close-right1{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tree-close-right1:before{
        content: "\f044";
}

#tree2 li:hover .tree-close-right1{
    opacity: 1;
}


#tree2 li ul li span.fa{
    display: none;
}

#tree2 li ul li i{
    margin-left: 0px;
}