.its-home-min-height{
	min-height: 130px;
}

.its-home-secondary-box .its-upload-title h3{
	margin-bottom: 0px;
}

.its-home-secondary-box .its-upload-title{
	margin-left: 0px !important;
}


.its-home-secondary-box .bg-azura{
	background: none !important;
}

.its-home-secondary-box .bg-azura svg{
	position: relative;
	left: 0px;
}

@media (max-width:767px) {

}

/* end 767px */
@media (max-width:767px) and (min-width:480px) {}
/* end 767px-480px */
@media (max-width:480px) {

.its-home-secondary-box .its-upload-title{
	margin-left: 10px !important;
}

.its-home-secondary-box .its-upload-title h3{
	font-size: 18px;
}
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {}