.field_with_errors {
    flex: 1 1 0%;
    display: block;
    width: 100%;
}

ul.parsley-errors-list.filled {
    width: 100%;
    text-align: left;
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px !important;
    text-transform: capitalize;
}