<center>
	<!-- <img class="d-inline-block" src="https://app.itslabel.me/assets/itsme-logo-1-a1c066cb066e5e7d069f1b5b16055121a0702106fe006d0212d213bf904ac2f9.png" height="60",width="130",margin-bottom="35px",margin-top="10px"> -->

  <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/vD4UDIF7WcyysbDGkUBsH7FM4CpecBCDJ7kvVD9jytnRqwWmDgYaokmg1HWDl4ghNTGsQ4d7_pdIcBYewHHpDZ4QzcKg_DCK3S0G8Ubgg-TyGp9CHHMWPuOXuVD11WPi56873-MHg9EAv3dZwY_z_qfZDuNOVQ=s0-d-e1-ft#https://mcusercontent.com/893355588917bd831ad08eddd/images/c2d65d0e-7cc3-4c2b-b955-7e957c993ba6.png" width="395" style="max-width:395px;padding-left: 280px;padding-bottom:0;display:inline!important;vertical-align:bottom;right:60px;" class="m_mcnImage">
  

	<p style="margin-bottom: 15px">Hello <%= @resource.try(:display_name) %>!</p>

	<p>You are requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
	<hr>
	<p>© ITS. 404, Al Saaha Offices B, Souk Al Bahar, Burj Khalifa District , Dubai, United Arab Emirates</p>
</center>
