<div style='margin:10px;padding:20px;background-color: #fff; color: #4b4b4b; font-size:18px;'>
    
    <hr>
    
    <div style="float:left; width:45%;<%= input_style %>">
      <h2>Input</h2>
      <p><%= raw @feedback.input.html_safe %></p>
    </div>


    <div style="float:right; width:45%;<%= output_style %>">
      <h2>Output</h2>
      <p><%= raw @feedback.output.html_safe %></p>
    </div>

    <div style="clear:both;"></div>

    <hr>
  
</div>
