<div class="container-fluid" >

  <!-- Header -->
  <%= render partial: 'admin/client_feedbacks/index/header' %>  
  <!-- index -->
  <%= render partial: 'admin/client_feedbacks/index/index' %>

</div>
