<div class="container-fluid">

  <!-- Header -->
  <%= render partial: 'admin/translation_uploads_history/index/header' %>

  
    <!-- index -->
    <%= render partial: 'admin/translation_uploads_history/index/index' %>
  </div>
</div>

