<div class="container-fluid">

  <!-- Header -->
  <%= render partial: 'admin/translation_uploads_history/show/header' %>  
  <!-- index -->
  <%= render partial: 'admin/translation_uploads_history/show/index' %>

</div>

