<div class="container-fluid">

  <!-- Header -->
  <div class="block-header" style="margin-bottom: 0px;">
    <div class="row clearfix">
      <div class="col-md-12 col-sm-12">
        <h1>Free Form</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", user_home_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Free Form</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row clearfix header-description">
        <div class="col-md-7 col-sm-12">
            <p>Please separate ingredients using <span class="badge badge-info">,</span> or <span class="badge badge-info">;</span> or new lines for accurate results.</p>
                <p>Note: This is a specialist tool for translating food ingredients names and associated terminology and will not process natural language.</p>
        </div>
         <div class="col-md-4 form-group" style="text-align:right;">
            <button type="submit" class="btn btn-primary" id="home_report" onClick="transfer_data()"> Report An Issue </button>
        </div>
    </div>
  </div>

  <!-- Widget - Try Translation -->
  <%= render partial: 'user/free_form_widget/index/widget' %>
  
</div>

<script type="text/javascript">
  function transfer_data(){
  
  var input = $("#INPUT_AREA").html();
  var output = $("#OUTPUT_AREA").html();
   let inputlanguage = $("#INPUT_LANGUAGE").children("option:selected").val();
  let outputlanguage = $("#OUTPUT_LANGUAGE").children("option:selected").val();
  

   $.ajax({
    url: '/user/client_feedbacks/new.js',
    method: "POST",
    datatype:"json",
    headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
    data: {"input" : input , "output" : output , "inputlanguage" : inputlanguage , "outputlanguage" : outputlanguage}
   });
     
  };
</script>