<!doctype html>
<html lang="en">

  <!-- Head -->
  <%= render partial: 'layouts/common/head' %>

  <body class="theme-cyan font-montserrat light_version">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
      <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
      </div>
    </div>

    <%= yield %>

    <!-- Application Javascripts  -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>