<% 
  case @document.try(:output_language).to_s.strip.upcase
  when "ARABIC"
    html_attr = "dir='rtl' lang='ar'"
  when "FRENCH"
    html_attr = "lang='fr'"
  when "ENGLISH"
    html_attr = "lang='en'"
  else
    html_attr = "lang='en'"
  end
%>

<html lang="en" <%= html_attr %>>
  <head>
    <title>Preview</title>
    
    <!-- Arabic Font -->
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="<%= asset_url('iframe.css') %>">
  </head>
  <body>
    <%= yield %>

    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </body>
</html>